.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
.vscode
static/ref_old.json
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json
package.json
bun.lockb
src/routes/test/+page.svelte
start_app.sh
app.log
